.text-muted {
    color: var(--muted-color) !important;
}

.card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
}

.card-img {
    transition: all 0.3s ease-in-out;
}

.site-link {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--accent-color);
    }
}

.card-cover {
    &:hover {
        .site-link {
            opacity: 1;
        }

        .card-img {
            opacity: 0.5;
        }
    }
}

.icons {
    .tech-icon {
        width: 2rem;
        height: 2rem;
        color: var(--accent-color);
        margin-right: 1rem;
    }
}

.github-code {
    width: fit-content;
    div {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;
    }
}
